<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightslategrey;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"> <img width="50px" height="50px" src="assets/img/logo.png" alt="logo"> </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nacimientos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="nacimiento">Buscar Registro de Nacimiento</a>
          <a class="dropdown-item" href="nacimientopost">Ingresar Registro de Nacimiento</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Defunciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="defuncion">Buscar Registro de Defuncion</a>
          <a class="dropdown-item" href="buscandoRegistros">Ingresar Registro de Nacimiento</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Matrimonios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="matrimonio">Buscar Registro de Matrimonio</a>
          <a class="dropdown-item" href="matrimoniopost">Ingresar Registro de Matrimonio</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="divorcio">Divorcios</a>
      </li>
    </ul>
  </div>
</nav>