<div class="text-center">
    <h1>Registro de Nacimientos</h1>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Busqueda de Registro de Nacimiento</h1>
        </div>
        <div class="col-md-3 col-sm-10">
            <div class="form-group">
                <label for="controlNombre">Primer Nombre</label>
                <input type="text" [(ngModel)]="datosBusquedaRegistro.primer_nombre" class="form-control "
                    placeholder="Primer nombre" required>
            </div>
        </div>
        <div class="col-md-3 col-sm-10">
            <div class="form-group">
                <label for="controlNombre">Segundo Nombre</label>
                <input type="text" [(ngModel)]="datosBusquedaRegistro.segundo_nombre" class="form-control"
                    placeholder="Segundo nombre" required>
            </div>
        </div>
        <div class="col-md-3 col-sm-10">
            <div class="form-group">
                <label for="controlNombre">Primer Apellido</label>
                <input type="text" [(ngModel)]="datosBusquedaRegistro.primer_apellido" class="form-control"
                    placeholder="Primer Apellido" required>
            </div>
        </div>
        <div class="col-md-3 col-sm-10">
            <div class="form-group">
                <label for="controlNombre">Segundo Apellido</label>
                <input type="text" [(ngModel)]="datosBusquedaRegistro.segundo_apellido" class="form-control"
                    placeholder="Segundo Apellido" required>
            </div>
        </div>
        <div class="col-12">
            <div class="text-center">
                <button (click)="buscarRegistro()" class="btn btn-primary">Buscar Persona</button>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="row text-center">
        <div class="col-12">
            <table class="table table-dark">
                <thead>
                    <th>Primero Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primero Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of resultadoNacimiento">
                        <td>{{ item.primer_nombre }}</td>
                        <td>{{ item.segundo_nombre }}</td>
                        <td>{{ item.primer_apellido }}</td>
                        <td>{{ item.segundo_apellido }}</td>
                        <td>{{ item.fecha_nacimiento | date:'fullDate'}}</td>
                        <td><a href="defuncionpost" class="btn btn-primary">Registrar Defuncion</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>