<div class="container-fluid">
  <div class="row">
      <div class="col-12 text-center">
          <h1>Busqueda de Registro de Matrimonio</h1>
          <br>
      </div>
      <div class="col-md-3 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Nombre</label>
              <input type="text" [(ngModel)]="datosBusquedaRegistro.primer_nombre" class="form-control "
                  placeholder="Primer nombre" required>
          </div>
      </div>
      <div class="col-md-3 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Nombre</label>
              <input type="text" [(ngModel)]="datosBusquedaRegistro.segundo_nombre" class="form-control"
                  placeholder="Segundo nombre" required>
          </div>
      </div>
      <div class="col-md-3 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Apellido</label>
              <input type="text" [(ngModel)]="datosBusquedaRegistro.primer_apellido" class="form-control"
                  placeholder="Primer Apellido" required>
          </div>
      </div>
      <div class="col-md-3 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Apellido</label>
              <input type="text" [(ngModel)]="datosBusquedaRegistro.segundo_apellido" class="form-control"
                  placeholder="Segundo Apellido" required>
          </div>
      </div>
      <div class="col-12">
          <div class="text-center">
              <button (click)="obtenerMatrimonios()" class="btn btn-primary">Buscar Matrimonio</button>
          </div>
          
      </div>
  </div>
  <br>
  <hr>
  <div class="row text-center">

      <div class="col-12">
         <table class="table">
             <thead class="thead-dark">
                  <th>Fecha</th>
                  <th>Esposo</th>
                  <th>Esposa</th>
                  <th>Departamento</th>
                  <th>Folio</th>
                  <th>Libro</th>
                  <th></th>
             </thead>
             <tbody>
                  <tr *ngFor="let item of matrimonios">
                      <td>{{ item.fecha | date:'fullDate'}}</td>
                      <td>{{ item.nombre1Esposo }} {{item.nombre2Esposo}} {{item.apellido1Esposo}} {{item.apellido2Esposo}} </td>
                      <td>{{ item.nombre1Esposa }} {{item.nombre2Esposa}} {{item.apellido1Esposa}} {{item.apellido2Esposa}} {{item.apellido_casada}} </td>
                      <td>{{ item.departamento}} </td>
                      <td>{{ item.folio}} </td>
                      <td>{{ item.libro}} </td>
                      <td><button (click)="downloadPDF(item.id)" class="btn btn-primary">Ver formato Digital</button></td>
                  </tr>
             </tbody>
         </table>
      </div>

</div>