<div class="container-fluid">
  <!-- <div class="row">
      <div class="col-12 text-center">
          <h1>Busqueda de Registro de Matrimonio</h1>
          <br>
      </div>
      <div class="col-md-3 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Nombre</label>
              <input type="text" [(ngModel)]="datosBusquedaRegistro.primer_nombre" class="form-control "
                  placeholder="Primer nombre" required>
          </div>
      </div>
      <div class="col-md-3 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Nombre</label>
              <input type="text" [(ngModel)]="datosBusquedaRegistro.segundo_nombre" class="form-control"
                  placeholder="Segundo nombre" value=" " required>
          </div>
      </div>
      <div class="col-md-3 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Apellido</label>
              <input type="text" [(ngModel)]="datosBusquedaRegistro.primer_apellido" class="form-control"
                  placeholder="Primer Apellido" required>
          </div>
      </div>
      <div class="col-md-3 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Apellido</label>
              <input type="text" [(ngModel)]="datosBusquedaRegistro.segundo_apellido" class="form-control"
                  placeholder="Segundo Apellido" required>
          </div>
      </div>
      <div class="col-12">
          <div class="text-center">
              <button (click)="buscarRegistro()" class="btn btn-primary">Buscar Matrimonio</button>
          </div>
          
      </div>
  </div>
  <br>
  <hr>
  <div class="row text-center"> -->

      <div class="col-12">
         <table class="table table-dark">
             <thead>
                  <th>Fecha</th>
                  <th>Esposo</th>
                  <th>Esposa</th>
             </thead>
             <tbody>
                  <tr *ngFor="let item of matrimonios">
                      <td>{{ item.fecha | date:'fullDate'}}</td>
                      <td>{{ item.id_esposo }}</td>
                      <td>{{ item.id_esposa }}</td>
                  </tr>
             </tbody>
         </table>
      </div>
      
  <!-- </div>  -->

</div>