
  <h1 class="text-center">Registro de divorcio</h1>
  <br>
  <div class="row">
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Fecha del divorcio</label>
              <input type="Date" [(ngModel)]="agregarDivorcioRegistro.fecha" class="form-control"
                  placeholder="Fecha del divorcio" name = "fecha" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Departamento</label>
              <input type="text" [(ngModel)]="agregarDivorcioRegistro.departamento" class="form-control"
                  placeholder="Departamento" name = "departamento" required>
          </div> 
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Libro</label>
              <input type="number" [(ngModel)]="agregarDivorcioRegistro.libro" class="form-control"
                  placeholder="Libro" name = "libro" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Folio</label>
              <input type="number" [(ngModel)]="agregarDivorcioRegistro.folio" class="form-control"
                  placeholder="Folio" name = "folio" required>
          </div>
      </div>
     <div class="col-md-10 col-sm-10">
        <h2>Datos del esposo</h2>
     </div>
  
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Nombre</label>
              <input type="text" [(ngModel)]="agregarDivorcioRegistro.nombre1Esposo" class="form-control "
                  placeholder="Primer nombre" name = "nombre1Esposo" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Nombre</label>
              <input type="text" [(ngModel)]="agregarDivorcioRegistro.nombre2Esposo" class="form-control"
                  placeholder="Segundo nombre" name = "nombre2Esposo" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Apellido</label>
              <input type="text" [(ngModel)]="agregarDivorcioRegistro.apellido1Esposo" class="form-control"
                  placeholder="Primer Apellido" name = "apellido1Esposo" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Apellido</label>
              <input type="text" [(ngModel)]="agregarDivorcioRegistro.apellido2Esposo"  class="form-control"
                  placeholder="Segundo Apellido" name = "apellido2Esposo" required>
          </div>
          <br>
      </div>
      <div class="col-md-10 col-sm-10">
        <h2>Datos de la esposa</h2>
     </div>
  
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Nombre</label>
              <input type="text" class="form-control"
              [(ngModel)]="agregarDivorcioRegistro.nombre1Esposa" 
                  placeholder="Primer nombre" name = "nombre1Esposa" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Nombre</label>
              <input type="text" class="form-control"
              [(ngModel)]="agregarDivorcioRegistro.nombre2Esposa" 
                  placeholder="Segundo nombre" name = "nombre2Esposa" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Apellido</label>
              <input type="text"class="form-control"
              [(ngModel)]="agregarDivorcioRegistro.apellido1Esposa" 
                  placeholder="Primer Apellido" name = "apellido1Esposa" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Apellido</label>
              <input type="text" class="form-control"
              [(ngModel)]="agregarDivorcioRegistro.apellido2Esposa" 
                  placeholder="Segundo Apellido" name = "apellido2Esposa"  required>
          </div>
      </div>
      <div class="col-md-10 col-sm-10">
        <h2>Datos del notario</h2>
     </div>
  
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Nombre</label>
              <input type="text" class="form-control"
              [(ngModel)]="agregarDivorcioRegistro.nombre1Notario" 
                  placeholder="Primer nombre" name = "nombre1Notario" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Nombre</label>
              <input type="text" class="form-control"
              [(ngModel)]="agregarDivorcioRegistro.nombre2Notario" 
                  placeholder="Segundo nombre" name = "nombre2Notario" required>
          </div>
        </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Primer Apellido</label>
              <input type="text"class="form-control"
              [(ngModel)]="agregarDivorcioRegistro.apellido1Notario" 
                  placeholder="Primer Apellido" name = "apellido1Notario" required>
          </div>
      </div>
      <div class="col-md-4 col-sm-10">
          <div class="form-group">
              <label for="controlNombre">Segundo Apellido</label>
              <input type="text" class="form-control"
              [(ngModel)]="agregarDivorcioRegistro.apellido2Notario" 
                  placeholder="Segundo Apellido" name = "apellido2Notario"  required>
          </div>
      </div>
    </div>

  <div class="text-right">
      <button (click)="agregarDivorcio()" class="btn btn-primary">Agregar divorcio</button>
  </div>
