<h1>Prueba del Modulo Http</h1>

<div class="container">
    <div class="row">
        <div class="col-10">
           <table class="table table-striped">
               <thead>
                    <th>Primero Nombre</th>
                    <th>Acciones</th>
               </thead>
               <tbody>
                    <tr *ngFor="let item of nacimientos">
                        <td>{{ item.primer_nombre }}</td>
                        <td><button (click)="eliminaNacimiento(item.id)" class="btn btn-primary">Eliminar</button></td>
                    </tr>
               </tbody>
           </table>
        </div>
        
    </div>

</div>